<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dpbsoft.app"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="17" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/app_id" />

        <!-- Activities -->


        <!-- Algemeen -->
        <activity
            android:name="com.dpbsoft.app.SplashActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.dpbsoft.app.LoginActivity"
            android:label="@string/title_activity_login" >
        </activity>
        <activity
            android:name="com.dpbsoft.app.AboutActivity"
            android:label="@string/title_activity_about" >
        </activity>
        <activity
            android:name="com.facebook.LoginActivity"
            android:label="@string/title_activity_list_categories" >
        </activity>
        <activity android:name="com.dpbsoft.app.MainActivity" >
        </activity>
        <activity
            android:name="com.dpbsoft.app.NieuwsOverzichtActivity"
            android:label="@string/title_activity_nieuw_overzicht" >
        </activity>

        <!-- Categories -->

        <activity
            android:name="com.dpbsoft.app.ListCategoriesActivity"
            android:label="@string/title_activity_list_categories" >
        </activity>
        <activity
            android:name="com.dpbsoft.app.CategoryDierenActivity"
            android:label="@string/category_dieren" >
        </activity>
        <activity
            android:name="com.dpbsoft.app.CategoryOverigActivity"
            android:label="@string/category_overig" >
        </activity>
        <activity
            android:name="com.dpbsoft.app.CategoryNatuurEnMilieuActivity"
            android:label="@string/category_natuur_en_milieu" >
        </activity>
        <activity
            android:name="com.dpbsoft.app.CategoryNoodhulpActivity"
            android:label="@string/category_noodhulp" >
        </activity>
        <activity
            android:name="com.dpbsoft.app.CategoryOntwikkelingshulpActivity"
            android:label="@string/category_ontwikkelingshulp" >
        </activity>
        <activity
            android:name="com.dpbsoft.app.CategoryVluchtelingenhulpActivity"
            android:label="@string/category_vluchtelingenhulp" >
        </activity>
        <activity
            android:name="com.dpbsoft.app.CategoryZiektenEnAandoeningenActivity"
            android:label="@string/category_ziekten_en_aandoeningen" >
        </activity>
        <activity
            android:name="com.dpbsoft.app.CategoryActivity"
            android:label="@string/title_activity_category" >
        </activity>

        <!-- Charities -->
        <activity
            android:name="com.dpbsoft.app.CharityMainActivity"
            android:label="@string/title_activity_charity_main" >
        </activity>
        <activity
            android:name="com.dpbsoft.app.CharityInfoActivity"
            android:label="@string/title_activity_charity_info" >
        </activity>
        <activity
            android:name="com.dpbsoft.app.ListCharitiesActivity"
            android:label="@string/goede_doelen" >
        </activity>
        <activity
            android:name="com.dpbsoft.app.CharityWNFMainActivity"
            android:label="@string/wnf_title" >
        </activity>
        <activity
            android:name="com.dpbsoft.app.CharityWNFInfoActivity"
            android:label="@string/wnf_title" >
        </activity>
        <activity
            android:name="com.dpbsoft.app.CharityWNFSupportActivity"
            android:label="@string/title_activity_charity_wnfsupport" >
        </activity>
        <activity
            android:name="com.dpbsoft.app.CharityWNFCommentActivity"
            android:label="@string/title_activity_charity_wnfcomment" >
        </activity>

        <!-- Einde activities -->
        <activity
            android:name="com.dpbsoft.app.CategoryNewsDierenActivity"
            android:label="@string/title_activity_category_news_dieren" >
        </activity>
        <activity
            android:name="com.dpbsoft.app.CharityCommentActivity"
            android:label="@string/title_activity_charity_comment" >
        </activity>
        <activity
            android:name="com.dpbsoft.app.CharitySupportActivity"
            android:label="@string/title_activity_charity_support" >
        </activity>
    </application>

</manifest>